<%- include('partials/header', {title:"Explore"}) -%>

<div class="container-fluid">

<h2>Posts</h2>

<table>
  <tr>
    <th>
      <div class="name">
      Pseudonym
      </div>
    </th>
    <th>
      Title
    </th>
    <th>
      <div class="date">
      Date
      </div>
    </th>
  </tr>
<% for (post of Object.values(posts)){%>
  <tr>
    <td><%=post.Pseudonym%></td>
    <td><a href="../posts/<%=post.Link%>"><%=post.Title%></a></td>
    <td><%=post.Date%></td>
  </tr>
<%}%>
</table>
</div>

<%- include('partials/footer') -%>
