<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<%- include('partials/header', {title:"Explore"}) -%>

<div class="container-fluid">

<h2>Posts</h2>

<table>
  <tr class = "active">
    <th>
      <div class="name">
      Pseudonym
      </div>
    </th>
    <th>
      Title
    </th>
    <th>
      <div class="date">
      Date
      </div>
    </th>
  </tr>
<% for (post of Object.values(posts)){%>
  <tr>
    <td><%=post.Pseudonym%></td>
    <td><a href="../posts/<%=post.Link%>"><%=post.Title%></a></td>
    <td><%=post.Date%></td>
  </tr>
<%}%>
</table>
</div>

<%- include('partials/footer') -%>
